.container-game {
    padding: 0px 150px 0px 150px;
    background-color: $light-gray;
}

.image-game {
    width: 600px;
    height: 300px;
    background-size: cover;
    border-radius: 5px;
    // object-fit: cover
}

.booking-card {
    border: solid;
    border-color: lightgrey;
    border-radius: 5px;
}

.game-description {
    padding-top: 50px;
}

.custom-class {
    margin-bottom: 0px;
}

.h3 .game-title {
    padding-top: 10px;
    padding-bottom: 10px;
}
