<div class= "banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1611371805429-8b5c1b2c34ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);" class: "banner">
  <div class="container">
    <h1>Don't know what to play? Perfect!</h1>
    <p>So you can lose a variety of games</p>
    <%= link_to "Browse Games", games_path, class:"btn btn-primary"%>
  </div>
</div>

<div class="container-fluid">
<h2 style="padding-left:10px; padding-top:30px">Featured</h2>
  <div class="row">
    <% @games.first(3).each do |game| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-product">
          <img src="<%= game.image_url %>">
          <div class="card-product-infos">
            <h4><%= link_to game.title, game_path(game) %></h4>
            <p><%= game.description %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
