// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "button_login";
@import "banner";
@import "navbar";
@import "footer";
@import "card";


.container-fluid {
  padding: 30px;
  // padding: 0px 150px 0px 150px;
}

.container-fluid h1 {
  text-align: center;
}
.container-fluid h3 {
  text-align: center;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.search-bar {
  border-radius: 25px;
  box-shadow: 2px;
}

.search-btn {
  background-color: #0168D9;
  border-radius: 16px;
  height: 38px;
  width: 100px;
  color: white;
  border-style: none;
}
